
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

 * {    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', serif; 
 }

 nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px; 
    background-color: #f2f2f2;
 }

.logo {
   width: 300px;
   height: auto;
}  

a {
   text-decoration: underline;
   color: #333;
   font-size: 16px;
}

header{
    height: calc(100vh - 70px);
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cGFyaXN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f5f5;
    padding: 24px;
}

.subheader {
    font-size: 24px;
    margin-top: 16px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 72px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

 ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-left: 16px;
}

h2 {
    font-size: 60px;
    text-align: center; 
    margin-bottom: 24px;
}

.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#discord,
#contact,
#about {
    padding: 48px 0;
    text-align: center;
}

#about {
    background-color: #909d5a;
}

img {
    width: 100%;
}

.about__img--wrapper {
    width: 40%;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__description--wrapper {
    width: 60%;
    text-align: left;
}

.about__img--wrapper,
.section__description--wrapper {
    padding: 0 24px;
}

.section__description--para {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 24px;
}

/* Discord */

#discord {
    background-color: #f0ddca;
}

/* Contact */

#contact {
    background-color: #a3bfcd;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    justify-content:left;
}

input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
    gap: 8px;
}

label{
    text-align: left;
    font-size: 16px;
}

button{   
   margin-top: 24px;
   font-size: 24px 'Roboto', sans-serif; 
   padding: 12px 24px;
   background-color: #333;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Footer */

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 200px;
    height: auto;
    margin-bottom: 16px;
}
.footer__links {
    margin-bottom: 32px; 
}
.footer__link {
    text-decoration: underline;
    color: #333;
    font-size: 16px;
    margin: 0 8px;
}

.footer__copyright {
    font-size: 8px;
    color: #666;
    margin-bottom: 16px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .home__description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1 {
        text-align: center;
        font-size: 60px;

    }

    .subheader{
        text-align: center;
        font-size: 20px;
    }

    .exploreButton {
        max-width: 240px
    }

    ul{
        display: none;
    }
}